* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

body {
    background-color: #f6f8fc;
}

button {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: .8rem 1rem;
  border-radius: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
